@import url('https://fonts.googleapis.com/css?family=Bangers|Cute+Font|Molle:400i|Nothing+You+Could+Do|Vampiro+One|Yellowtail|Zhi+Mang+Xing&display=swap');

#clock {
    width: 100%;
    height: 150px;
   
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(223, 25, 134);
    font-family: 'Nothing You Could Do', cursive;
    font-size: 40px;
}

#welcome {

    color: mediumslateblue;
    font-family: 'Molle', cursive;
    font-size: 50px;
}

#itenerary {

        padding: 50px;
        background-color: #66CCFF;
        font-family: sans-serif;
      }
      .container {
        display: flex;
        justify-content: center;
      }



#yotei {

    background-color: slateblue;
    
}
